@import url(https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Lobster);

body{
    font-family: 'Lobster', cursive;
}

h1 {
    font-family: 'Oswald', sans-serif;
}
h2{
    font-family: 'Ubuntu', sans-serif;
}


/*Body content*/
body{
    background-image: url(../Images/straightroad.jpg);
}
/*Home*/
#home{
    height: 100vh;
    background-color: black;
    opacity: 0.7
}
#home-txt{
    height: 90vh;
    vertical-align: middle;
    color: #fff;
    padding: 15%;
}
#
/*About*/
#about{

}
/*Folio*/
#folio
