@import url(https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Lobster);

body{
    font-family: 'Lobster', cursive;
}

h1 {
    font-family: 'Oswald', sans-serif;
}
h2{
    font-family: 'Ubuntu', sans-serif;
}

/*Loading screen*/
#loader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader-left {
    width: 50%;
    height: 100%;
}

#loader-right {
    height: 100%;
    width: 50%;
}
