@import url(https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Lobster);
body {
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-family: 'Lobster', 'Ubuntu', cursive;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

/*Body content*/

body {
    background-image: url(../Images/straightroad.jpg);
    width: 100%;
    height: 100%;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 1.2em;
}
body p {
    font-size: 25px;
}

/*Home*/

#home {
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    color: #fff;
    padding: 4%;
    bottom: 0;
}
#home-txt,
#home h1 {
    font-size: 1.75em;
}
#home-txt {
    height: 67vh;
    vertical-align: middle;
    padding: 15%;
}
#home-img {
    height: 20vh;
    margin: 0 auto;
}
#arrow-down {
    background-color: grey;
    opacity: 0.3;
    width: 100px;
    height: auto;
}

/*Info section*/

#info {
    display: none;
}

/*About*/

#about {
    background-color: #fff;
    padding: 1%;
    top: 0;
}
#myName {
    display: inline-block;
    position: relative;
}
#scrollbar {
    z-index: 1000;
}
li {
    list-style-type: none;
}

/*Folio*/

#folio {
    background-color: #000;
    opacity: 0.85;
    color: #fff;
    padding: 2%;
}
#folio img {
    width: 18%;
    height: auto;
    padding: 1%;
}

/*Contact*/

#contact {
    background-image: url(../Images/telephone.jpg);
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #000;
    height: 300px;
}
#contact-bg {
    background-color: #444;
    opacity: 0.7;
    width: 100vw;
    height: 300px;
}
#social img {
    width: 40px;
    height: auto;
    background-color: #999;
    margin: 0 20px;
}
