@import url(https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Lobster);

body{
    font-family: 'Lobster', cursive;
}

h1 {
    font-family: 'Oswald', sans-serif;
}
h2{
    font-family: 'Ubuntu', sans-serif;
}


/*Body content*/
body{

}
/*Home*/
#home{
    height: 100vh;
}
/*About*/
#about{

}
/*Folio*/
#folio
